body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(alcohol-857380_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #5c0731;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #5e0856;
}

#cocktail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(33% - 20px);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px 0;
}

#cocktail-image {
    width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }

    #cocktail-image {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }

    #cocktail-image {
        width: 90%;
    }
}